<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script>
        function confirmDelete(){
            let uid = document.getElementById("id").value;
            if(uid != null){
                if (confirm("Are you sure you want to delete this student?")){
                    console.log(uid);
                    fetch('/users/delete/' + uid, {
                    method: 'DELETE'
                    });
                    //refresh page with deleted student - prevent method GET not supported
                    location.reload();
                    console.log("deleted");
                }
            else{
                prompt("Error. UID not found.");
            }
            }
        }

    </script>
</head>
<body>
    <main class="container-fluid">
        <div class="row content-center">
            <div class="col-md-12">
                <h1>STUDENT TRACKER</h1>
                <div class="container-fluid">

                    <div class="row"><div class="col">
                        <form action="/users/addstudent" method="post">
					        <input class="btn btn-primary" type="submit" value="Add New Student"></input>
				        </form>
                        </div>

                    <div class="col">
                        <form action="/users/delete" method="post">
                            <input type="number" min="0" id="id" name="id" class="form-control form-control-sm" 
                                placeholder="UID" required></input>
                            <input class="btn btn-primary" type="button" value="Delete Student" onclick="confirmDelete()"></input>
                        </form>
                    </div>

                    <div class="col">
                        <form action="/users/detail" method="post">
                    
                            <input type="number" min="0" id="id" name="id" class="form-control form-control-sm" 
                                placeholder="UID" required></input>
                            <input class="btn btn-primary" type="submit" value="View Student Visuals"></input>
                        </form>
                    </div>
                </div>
                
                <table class="table table-striped">
                
                
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Password</th>
                            <th scope="col">Email</th>
                            <th scope="col">Hair Color</th>
                            <th scope="col">Height</th>
                            <th scope="col">Weight</th>
                            <th scope="col">GPA</th>
                            <th scope="col">UID</th>
                            <th scope="col">Manage</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <ul style="list-style: none;">
                            <li th:each="user:${us}" style="list-style:none;">
                                <tr>
                                    <td>
                                        <span th:text="${user.name}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.password}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.email}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.haircolor}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.height}"></span>cm
                                    </td>
                                    <td>
                                        <span th:text="${user.weight}"></span>kg
                                    </td>
                                    <td>
                                        <span th:text="${user.gpa}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.uid}"></span>
                                    </td>
                                    <td>
                                        <form action="/users/updating" method="post">
                                
                                            <a th:href="@{'/users/updating/' + ${user.uid}}" class="btn btn-info btn-sm" role="button">Edit</a>
                                            
                                        </form>
                                    </td>
                                
                                </tr>
                            </li>
                        </ul>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>